.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sidebar {
  position: absolute;
  top: 60px;
  left: -300px;
  height: 90vh;
  width: 300px;
  transition: left .3s ease-in-out;
  background-color: white;
  border-radius: 5px;
}
.sidebar-toggle {
  position: absolute;
  top: 40%;
  right: -40px;
  height: 40px;
  width: 40px;
  z-index: 1;
  transition: transform 0.8s ease-in-out;
}

.sidebar-toggle.open {
  transform: rotate(180deg);
}

.sidebar.open {
    position: absolute;
    left: 0;
}

.conatiner {
  position: relative;
}

.driverCard:hover {
  box-shadow: -1px 5px 5px grey;
}

#gpsbutton {
  width: 40px;
  height: 40px;
  padding: 10% 10% 10% 10%;
  margin-right: 10px;
}
#gpsimg {
  width: 100%;
  height: 100%;
}