#content{
    text-align:center;
}
#content h1{
    margin:1% 0 2% 0;
}
#accordion{
    margin:2% 0 2% 0;
    padding:0 30% 0 30%;
}
#form{
    padding:0 30% 0 30%;
}
.text-muted{
    margin-bottom:2%;
}
@media only screen and (max-width:768px) {
    #content h1{
        font-size:28px;
    }
    #container p{
        width:80vw;
        margin:0 auto;
        margin-bottom:2.5vh;
    }
    #accordion{
        padding:0 15vw 0 15vw;
        margin-top:2vh;
        margin-bottom:2vh;
    }
    #form{
        padding:0 15vw 0 15vw;
    }
    #head{
        font-size:14px;
    }
    .card-body{
        font-size:14px;
        padding:1vh 1vh 1vh 1vh!important;
    }
}
@media only screen and (max-width:380px) {
    #content h1{
        font-size:24px;
    }
    #container p{
        width:80vw;
        margin:0 auto;
        margin-bottom:2.5vh;
        font-size:14px;
    }
    #accordion{
        padding:0 12.5vw 0 12.5vw;
        margin-top:2vh;
        margin-bottom:2vh;
    }
    #form{
        padding:0 12.5vw 0 12.5vw;
    }
    #head{
        font-size:12px;
    }
    .card-body{
        font-size:12px;
        padding:1vh 1vh 1vh 1vh!important;
    }
    #formbutton{
        margin-bottom:2.5vh;
    }
}