#accordion {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 20px;
}

#head {
    font-size: 1.25em;
}

#body {
    text-align:center;
}
#container p {
    margin-top: 40px;
}

#form {
    width: 40%;
    height: 50%;
    display: block;
    margin: 0 auto;
}
#questionfield {
    height: 10%;
    margin-bottom: 10px;
}