#content {
    text-align:center;
}
#content h1 {
    margin:1% 0 2% 0;
}
#accordion {
    margin:2% 0 2% 0;
    padding:0 30% 0 30%;
}
#form {
    padding:0 30% 0 30%;
}
.text-muted {
    margin-bottom:2%;
}
@media only screen and (min-width:375px) and (max-width:450px) {
    #content p {
        padding:0 15vw 0 15vw;
    }
    #content h1 {
        margin:2.5vh 0 1vh 0;
    }
    #accordion {
        padding:0 10vw 0 10vw;
        margin:2vh 0 2vh 0;
    }
    #form {
        padding:0 10vw 0 10vw;
        margin-bottom: 2vh;
    }
    .text-muted {
        margin-bottom:2vh;
    }
}
@media only screen and (max-height:667px){
    #content {
        font-size:0.9em;
    }
}
@media only screen and (max-height:568px){
    #content h1 {
        font-size:2.25em;
        margin-top:1vh;
    }
    #content p {
        padding:0 7vw 0 7vw;
    }
    #accordion {
        padding:0 10vw 0 10vw;
        margin:2vh 0 2vh 0;
    }
    #form {
        padding:0 10vw 0 10vw;
        margin-bottom:2vh;
    }
}
@media only screen and (max-width:360px){
    #content h1 {
        font-size:2.5em;
        margin:1vh 0 1vh 0;
    }
    #content p{
        padding:0 11vw 0 11vw;
    }
    #accordion{
        padding:0 11vw 0 11vw;
        margin:2vh 0 2vh 0;
    }
    #form {
        padding:0 11vw 0 11vw;
        margin-bottom:2vh;
    }
}
@media only screen and (min-height: 850px) {
    #content {
        font-size:1.25em;
    }
    #content p{
        padding:0 10vw 0 10vw;
    }
}