#content {
    text-align:center;
}
#content h1 {
    margin:1% 0 2% 0;
}
#accordion {
    margin:2% 0 2% 0;
    padding:0 30% 0 30%;
}
#form {
    padding:0 30% 0 30%;
}
.text-muted {
    margin-bottom:2%;
}