#intro, #desc{
    margin: 0 auto;
    text-align: center;
}
#intro {
    padding-top: 20px;
}
#desc {
    width: 60%;
}
#bookbutton {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
@media only screen {
    #intro {
        padding-top: 5vh;
    }
    #desc {
        width:67.5%;
        padding-top: 5vh;
        padding-bottom: 3.5vh;
    }
}
@media only screen and (max-width: 320px) and (max-height: 600px) {
    #intro {
        font-size: 1.75em;
    }
    #desc {
        font-size: 0.9em;
    }
}
@media only screen and (min-width:1000px) and (max-width:1000px) {
    #intro {
        font-size: 4em;
    }
    #desc {
        font-size: 2em;
    }
    #bookbutton {
        width:20vw;
        font-size: 1.5em;
    }
}