#intro, #desc{
    margin: 0 auto;
    text-align: center;
}
#intro {
    padding-top: 20px;
}
#desc {
    width: 60%;
}
#bookbutton {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
@media only screen and (max-width:384px) and (max-height:768px) {
    #intro {
        font-size: 28px;
        margin-bottom: 2.5vh;
    }
    #desc {
        width: 80vw;
        margin-bottom: 2.5vh;
    }
}