.pickupinfo{
    display:flex;
    flex-direction:column;
    margin-left:10px;
    box-shadow:0px 7px 7px 0px rgba(0,0,0,0.75);
    height:5.5rem;
}
.pickupInfoTitle,.info,.departTime{
    text-align:center;
}
.progressBar{
    flex-basis:100%;
}
.pickupinfo:hover{
    cursor:pointer;
    height:9rem;
    transition:height 0.5s;
}
.buttons{
    display:flex;
    justify-content:center;
    margin-top:0.5rem;
}
.leftB,.rightB{
    width:80px;
}
.rightB{
    margin-left:5%;
}
.info{
    margin-left:8px;
}
.spinnerContainer{
    position:absolute;
    bottom:0px;
    right:5px;
}
.departTime{
    margin-top:-1.25rem;
    margin-left:10px;
    font-weight:bold;
    margin-bottom:0;
}
.spinner-grow.text-primary,.spinner-grow.text-warning,.spinner-grow.text-success {
    margin-right:-2px;
}
@media only screen and (max-width:768px) {
    .pickupinfo{
        width:85vw;
        height:10.5vh;
        margin-left:3px;
        margin-bottom:2vh;
        box-shadow:0px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .pickupInfoTitle{
        margin-left:-2.75vw;
        font-size:14px;
    }
    .info{
        margin-left:-3vw;
        font-size:14px;
        margin-bottom:-2px;
    }
    .departTime{
        margin-top:0;
        font-size:14px;
    }
    .buttons{
        margin-top:1.5px;
    }
}