.pickupinfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.75);
    height: 5rem;
}

.pickupinfo:hover {
    cursor:pointer;
    height: 8rem;
}

.buttons {
    margin-left: 20px;
}

.progressBar {
    flex-basis: 100%;   
}
.info {
    margin-left: 8px;
}
.spinnerContainer {
    position: absolute;
    bottom:0px;
    right: 5px;
}
.departTime {
    margin-left: 10px;
}
.spinner-grow.text-primary {
    margin-right: -2px;
}
.spinner-grow.text-warning {
    margin-right: -2px;
}
.spinner-grow.text-success {
    margin-right: -2px;
}